<div>
    <button data-dojo-attach-point="btndrawpoly" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Click on map to draw polygon"><span class="glyphicon glyphicon-pencil"></span></button>
    <span data-dojo-attach-point="loadingdiv" class="loading" style="display:none;"></span>
    <div style="height:400px;overflow-y:auto;">
        <table class="table">
            <h3>Significant HIstorical Earthquakes</h3>
            <thead>
                <tr>
                    <th style="width:10px;">#</th>
                    <th style="width:180px;">Location</th>
                    <th style="width:20px;">Mag</th>
					<th style="width:50px;">Year</th>
                </tr>
            </thead>
            <tbody data-dojo-attach-point="tbcontent">
            </tbody>
        </table>
    </div>
</div>