html,
body,
#mapDiv {
    height: 100%;
    width: 100%;
}

#basemapBtn {
    margin-right: 43px;
    float: right;
    margin-top: 12px;
}

#basemapBtn button {
    margin-left: 4px
}

#basemapGalleryContainerDiv,
#legendContainerDiv,
#HazardContainerDiv,
#SqContainerDiv {
    position: absolute;
    top: 50px;
    right: 42px;
    width: 400px;
    z-index: 10;
    padding-bottom: 9px;
    padding-top: 10px;
    padding-left: 12px;
        height: 400px;
}

.pageHeader {
    display: block;
    background-color: #77B0E2;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
    opacity: 0.9;
}

.pageHeader:hover {
    opacity: 1;
}

.esriSimpleSliderTL {
    z-index: 30;
    top: 80px;
}

.loading {
    display: block;
    background-image: url('images/spinner_48.gif');
    width: 48px;
    height: 48px;
}