.gwidgetcontainer {
    position: absolute;
    top: 97px;
    left: 78px;
    z-index: 1;
}

.gwidgetcontainer input {
    position: relative;
    z-index: 2;
    margin: 0px;
    float: left;
    display: block;
    height: 20px;
    width: 200px;
    padding: 6px 24px 6px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;
    background-color: #FFF;
    border-width: 1px 0px 1px 1px;
    border-style: solid none solid solid;
    border-color: #57585A use-text-color #57585A #57585A;
    border-top-colors: none;
    border-right-colors: none;
    border-bottom-colors: none;
    border-left-colors: none;
    border-image: none;
    border-radius: 4px 0px 0px 4px;
    transition: width 0.175s ease-in 0s;
    box-sizing: content-box;
}

.gwidgetcontainer .search {
    background-image: url('images/search-icon.png');
    z-index: 2;
    height: 34px;
    width: 34px;
    text-align: center;
    background-color: #FFF;
    cursor: pointer;
    float: right;
    margin-left: 0px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #57585A use-text-color #57585A #57585A;
}