<div class="gwidgetcontainer">
    <input placeholder="${nls.placeholderText}" class="searchInput" value="" data-dojo-attach-point="address_input" role="textbox" type="text">
    <div class="search" data-dojo-attach-point="search"></div>
</div>