<div>
    <!-- can have only one root node or else parse error will thrown(even it won't allow the parse error) and fitst node will be displayed not the later one-->
    <span data-dojo-attach-point="loadingdiv" class="loading"></span>
	<h4>TOP VOLCANIC EVENTS</h4>
	<div data-dojo-attach-point="CountMessage"></div>
    <div data-dojo-attach-point="eventsgrid">
    </div>
</div>